

html, body {
  margin: 0;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 10px;
}
/* Style the header */
.header {
    background-color: #7605f8;
    padding: 20px 20px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    
  }
  
  /* Style the header links */
  .header a {
    color: rgb(255, 255, 255);  
    padding: 5px 10px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  .header image{
  margin: auto;
  display: inline-block;
  }
  .header-left {
    position: absolute;
    left: 80px;
  }

  .header-right {
    float: right;
  }
