<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='style/header_style.css') }}">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='style/body_style.css') }}">
    <title>APOD Results</title>


  <div class="header">  
    <img src="{{ url_for('static',filename='icon/Solar-Sonar.png') }}" class="image" style="max-width: 40px; max-height: 40px" loading="lazy">
    <div class="header-left">   
      <a class="Solar Sonar" href="/">Solar Sonar</a>
    </div> 
    <div class="header-right">
      <a class="home" href="/">Home</a>
      <a class="history"href="/history_page">API History</a>
      <a class="about"href="/about_page">About</a>
      <a class="help" href="/help_page">Help</a>
  </div>
  </div>
</body>
<body> 
    {% if media_type == "Photo" %}
        <img src= "{{ url }}" style="max-width: 450px; max-height: 300px" alt="Astronomy Picture Of The day">
    {% elif media_type == "Video" %}
        <iframe width="420" height="315"
        src="{{ url }}">
        </iframe>
    {% endif %}
    <br>
    Title: {{title}}
    <br>
    Date: {{date}}
    <br>
    Description: {{ explanation }}


</body>
</html