<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='style/header_style.css') }}">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='style/body_style.css') }}">
    <title>Error</title>


    <div class="header">  
      <img src="{{ url_for('static',filename='icon/Solar-Sonar.png') }}" class="image" style="max-width: 40px; max-height: 40px" >
      <div class="header-left">   
        <a class="Solar Sonar" href="/">Solar Sonar</a>
      </div> 
      <div class="header-right">
        <a class="home" href="/">Home</a>
        <a class="history"href="/history_page">API History</a>
        <a class="about"href="/about_page">About</a>
        <a class="help" href="/help_page">Help</a>
    </div>
</body>
<body> 
    Failed to fetch {{Type}}. The server responded with the status code of {{error_code}}.
    <br>
    <a href="/">Click here to return home.</a>
    <br>
    <a href="/help_page">Click here to understand why this happened.</a>

</body>
</html