<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='style/header_style.css') }}">
    <title>Solar Sonar</title>


  <div class="header">  
    <img src="{{ url_for('static',filename='icon/Solar-Sonar.png') }}" class="image" style="max-width: 40px; max-height: 40px" >
    <div class="header-left">   
      <a class="Solar Sonar" href="/">Solar Sonar</a>
    </div> 
    <div class="header-right">
      <a class="home" href="/">Home</a>
      <a class="history"href="/history_page">API History</a>
      <a class="about"href="/about_page">About</a>
      <a class="help" href="/help_page">Help</a>
    </div>
  </div>
</body>
<body> 
    Choose the API data you wish to view!
    <br>
    <form action="/param" method="post">
    <select name="API_Selection" id="selection_api">
        <option value="NeoWS_Feed">NeoWS Feed</option>
        <option value="NeoWs_Lookup">NeoWs Lookup</option>
        <option value="APOD">Astronomy Picture of the Day</option>
      </select>
      <button type="API_Selection_button">Submit</button>
    </form>
      <br>
      <a href="/help_page">What is this and what do they mean?</a>
      

</body>

</html