<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='style/header_style.css') }}">
    <title>Param Selection</title>


    <div class="header">  
      <img src="{{ url_for('static',filename='icon/Solar-Sonar.png') }}" class="image" style="max-width: 40px; max-height: 40px" >
      <div class="header-left">   
        <a class="Solar Sonar" href="/">Solar Sonar</a>
      </div> 
      <div class="header-right">
        <a class="home" href="/">Home</a>
        <a class="history"href="/history_page">API History</a>
        <a class="about"href="/about_page">About</a>
        <a class="help" href="/help_page">Help</a>
      </div>
    </div>
<body> 
    Choose the API parameters for {{API_choice}}!  
    <br>
        {% if API_choice == "APOD" %}
            <form action="/Apod" method="post" type="APOD_button">
            Date:
            <input type="date" id="Apod-date" name="Apod-date" value="{{ today}}" min="1995-06-16" max="{{today}}"required/>
            <button >Submit</button>
            </form>
        {% elif API_choice == "NeoWS_Feed" %}
            <form action="/NeoWs_Feed" method="post" type="NeoWS_Feed_Button">
            Start Date:
            <input type="date" id="start" name="start" max="{{today}}" required/>
            <br>    
            End Date:
            <input type="date" id="end" name="end" max="{{ today }}" required/>
            <button >Submit  </button>
            </form>
        {% elif API_choice == "NeoWs_Lookup" %}
            Type the Asteroid Id here!
            <form action="/NeoWs_Lookup" method="post" type="NeoWs_Lookup_Button">
            <input type="number" id="Asteroid_id" name= "Asteroid_id" required/>
            <button >Submit  </button>
            </form>
        {% endif %}
        <br>
        <a href="/help_page"> Understand the Parameters and API responses here!</a>
</body>
</html